In [36]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [37]:
df_train = pd.read_csv("/kaggle/input/amazon-reviews/train.csv" , header=None)
df_test = pd.read_csv('/kaggle/input/amazon-reviews/test.csv' , header = None)

In [38]:
df_train.columns = ['polarity', 'title', 'text']
df_test.columns = ['polarity', 'title', 'text']

In [39]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3600000 entries, 0 to 3599999
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   polarity  int64
 1   title     object
 2   text      object
dtypes: int64(1), object(2)
memory usage: 82.4+ MB

In [40]:
df_train.head()

,polarity,title,text
0,2,Stuning even for the non-gamer,This sound track was beautiful! It paints the ...
1,2,The best soundtrack ever to anything.,I'm reading a lot of reviews saying that this ...
2,2,Amazing!,This soundtrack is my favorite music of all ti...
3,2,Excellent Soundtrack,I truly like this soundtrack and I enjoy video...
4,2,"Remember, Pull Your Jaw Off The Floor After He...","If you've played the game, you know how divine..."

In [41]:
# polarity column description
# 1 == Negative
# 2 == Positive
df_train['polarity'].unique()

array([2, 1])

In [42]:
df_train['polarity'].value_counts()

polarity
2    1800000
1    1800000
Name: count, dtype: int64

In [43]:
# LOWER CASE THE DATA OF COLUMN 'title'

df_train['title'] = df_train['title'].str.lower()

In [44]:
# LOWER CASE THE DATA OF COLUMN 'text'

df_train['text'] = df_train['text'].str.lower()

In [45]:
df_train['title'].sample(10)

2734240                                   encore board game
1782746                                not well constructed
2377141                                 not what i expected
1690157                                      not really oem
689903     i'm trying to correct a typo in a review on line
1608049                             defining "wonderful"...
3026075    very comfy for dog, but very difficult for owner
785160                                  a little disturbing
1454593                                   wireless speakers
219207          hmmm, i thought this would have been it....
Name: title, dtype: object

In [46]:
print("shape of df_train: ",df_train.shape)
print("shape of df_test: ",df_test.shape)

shape of df_train:  (3600000, 3)
shape of df_test:  (400000, 3)

In [47]:
# nan values in df_train
df_train.isna().sum()

polarity      0
title       207
text          0
dtype: int64

In [48]:
#  nan values in df_test
df_test.isna().sum()

polarity     0
title       24
text         0
dtype: int64

In [49]:
# drop nan values 
df_train = df_train.dropna()
df_test = df_test.dropna()

In [50]:
#  droping title as i think it is not needed for now 

df_train = df_train.drop(['title'], axis=1)

In [51]:
import string 
translator = str.maketrans('','',string.punctuation)
digit = str.maketrans('','',string.digits)

In [52]:
# removing punctuations from title
# df_train['title'] = df_train['title'].apply(lambda x: x.translate(translator))

In [53]:
# removing punctuations from text
df_train['text'] = df_train['text'].apply(lambda x: x.translate(translator))

In [54]:
df_train.sample(10)

         polarity                                               text
950113          1  guess what a lot of people really like hemingw...
2274748         1  i bought this foot rest this year and use it q...
1635993         1  this product is a waste of money i did not hav...
2956821         2  although i enjoyed all of the shows on this dv...
847763          1  bought 3 of these and none of them are actuall...
1802284         2  william shakespeare is proving himself a damn ...
911025          1  i hated this edition it was a sorry excuse for...
3580502         2  not my normal style but it dragged me in all t...
2731107         2  this book is an excellent story about the chil...
2910393         1  brief little snapshot in the hardcoreturned me...

In [55]:
# removing the numbers from the "title" 
# df_train['title'] = df_train['title'].apply(lambda x: x.translate(digit))

In [56]:
# removing the numbers from the "text"
df_train['text'] = df_train['text'].apply(lambda x: x.translate(digit))

In [57]:
df_train.sample(10)

         polarity                                               text
310509          1  this book only deserves one star for the fact ...
800785          1  i cant stand the way this kid sings its like h...
2815601         1  the picture looks like a great little stable b...
1945181         1  i thought id get this little biometric drive a...
2816227         2  really enjoy using this machine after several ...
115278          1  interesting concept how would the world react ...
3103970         2  i have read many reviews discussing the diffic...
1338996         2  i bought this as a fathers day gift for my hus...
2808172         1  the product is really really bad the locking i...
1992578         2  i was a little nervous ordering these glasses ...

In [58]:
# removing extra spaces just in case 
# df_train['title'] = df_train['title'].str.strip()
df_train['text'] = df_train['text'].str.strip()

In [ ]:
# removing stop words and also applying the tokenizations

def tokenization_and_stopwords_removal(text):
    

    pass

In [59]:
def len_of_text(text):
    return len(text)

df_train['text length'] = df_train['text'].apply(len_of_text)

In [ ]:

# df_train.sample(10)

,polarity,text,text length
982564,1,i ordered it a month ago it arrived weeks ago...,557
1349009,2,cd item arrived ok but plastic cd case was bro...,169
3047774,2,if you need a new camera want something to fit...,318
15706,2,perfect bookgreatest tips tricks and tweakings...,113
2527102,1,ok i should have read all the other reviews fi...,491
314082,1,i ordered this mouse because i have been using...,747
2502483,2,with photographs of actual tapings this book i...,203
2551438,2,the movie is practically a stepbystep of the b...,307
2857224,2,when i got this game i installed it and then w...,278
302086,1,well worth seeing about a psychic in the south...,281