In [ ]:
import pandas as pd
import numpy as np

In [108]:
df_train = pd.read_csv('/kaggle/working/train.csv')
df_test = pd.read_csv('/kaggle/working/test.csv')

In [107]:
df_train.sample(10)

,polarity,text,text length
236462,0,thought book would get better read fact got wo...,66
678876,0,product suppos moisten press product would sti...,71
1760231,1,finish read rabbi ebner collect poetri move te...,246
2931990,0,id thought movi televis actor got wors career ...,204
3275676,0,blanket great size easi fold perfectli waterre...,386
1791776,0,suppos get blu ray dvd order got blu ray movi ...,77
2439791,1,yoga least week tape kick butt never workout l...,103
3488854,1,im expect boy carri low result hurt walk produ...,159
526291,0,read review book exit order howev felt write d...,120
2213430,1,purchas kindl month ago love read book past mo...,83

In [112]:
print(df_train.shape)
print(df_test.shape)

(3599793, 3)
(399976, 3)